* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #9BA9BF;
}

.container {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 3cm;
  background-color: #9BA9BF;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 10px;
}

.left-section .icon {
  width: 30%;
  height: auto;
  max-width: 100%;
  max-height: 50%;
}

img {
  width: 150px;
  height: auto;
  margin-left: 75px;
}

.icon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  margin-top: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-item {
margin-bottom: 100px;
color: white;
padding: 15px;
cursor: pointer;
font-size: 17px;
text-decoration: none;
}

.sidebar-item:hover {
  background-color: #5C0C16;
}

.rights {
  margin-top: 20px;
  color: #888;
  font-size: 14px;
  margin-bottom: 5%;
  margin-left: 40%;
}

.right-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* text-align: center; */
  padding: 20px;
  border-top-left-radius: 45px;
  border-bottom-left-radius: 45px;
  background-color: #f2f2f2;
}


.right-section img{
  width: 70%;
  margin: 15%;
}

.title {
  margin-top: -20px;
  font-size: 40px;
  margin-left: 113px;
  font-weight: bold;
  color: #333;
}

.line {
  width: 80px;
  height: 7px;
  border-radius: 15px;
  background-color: #5C0C16;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 119px;
}

.logo img {
  width: 300px;
  height: auto;
  margin-top: -66px;
  margin-left: 1000px;
}

.logout {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: color 0.3s;
}

.logout:hover {
  color: red;
  font-size: 16px;
  font-weight: bold;
}